@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    font-family:'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
     scrollbar-color: var(--main-color);

}
.iconlogo{
    border-radius: 50%;
}
/* scrollbar design*/
::-webkit-scrollbar {
    width: 5px;
    height: 4px;
  }
  
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--second-color); 
    border-radius: 4px;
  }
   
   
  ::-webkit-scrollbar-thumb {
    background:var(--second-color); 
    border-radius: 5px;
  }
  
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--main-color); 
  }


:root{
    --bg-color:#010109;
    --second-color:black;
    --text-color:#fff;
    --main-color: #ffbf35;
}
/*:root{
    --bg-color:#0049B7;
    --second-color:#00DDFF;
    --text-color:#fff685;
    --main-color: #f75990;
}*/
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
section{
     
    padding: 0rem 5rem 5rem 10rem;
    top: 0;
    bottom: 0;
    

}
 
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background:transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    /*box-shadow: 0 0 5px var(--main-color);*/
    
}
.logo{
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 600;
    cursor: pointer;
    font-weight: bold;
}
.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: bold;

}
.header {
    position: sticky;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    z-index: 100;
    }
.navbar a:hover{
    color: var(--main-color);
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display:none;

}
.home{
    display: flex;
     justify-content: center;
    align-items: center;  
    flex-direction: column-reverse;
     margin-top: 0%;
     top: 0;
    
}
/* @media(max-width:1000 px) {
    .home-content {
      align-items: center;

    }
    .btn{
        -ms-transform-origin-x: 10%;
    }
  }  */

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
   
}
.home-content h3: :nth-of-type(2){
   margin-buttom: 2rem;
}
.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
    color: #fff685;
    
  background: -webkit-linear-gradient(#1BFFFF,rgb(5, 98, 5));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hello{
    font-style: italic;
    font-weight: bolder;
}
#smile{
    background: -webkit-linear-gradient(var(--text-color),var(--main-color),orange,red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.home-content p{
    font-size: 1.6rem;
    text-align: left;
   
     
}
.home-content a i{
    font-size: 2.5rem;
    
}
.home-content span{
    color:var(--main-color);
    justify-content: center;
}
.wave {
    animation-name: wave-animation;   
    animation-duration: 2.5s;      
    animation-iteration-count: infinite;   
    transform-origin: 70% 70%;       
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }   
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }   
    100% { transform: rotate( 0.0deg) }
  }
.home-img img{
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 0 2rem var(--main-color);
    filter:grayscale(10%) ;
}

.home-img :hover{
  transform: translateY(-20px);
  filter: grayscale(50%);
}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    color:var(--text-color);
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
     
    margin: 3rem 1.5rem 3rem 0;
}
.social-media a:hover{
    background: var(--bg-color);
    color: var(--main-color);
    box-shadow: 0 0 1rem var(--main-color);
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    width: 19rem;
    background: var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--second-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    margin-top: 25px;
    font-weight: bold;
}
.btn:hover{
    box-shadow: 0 0 1rem var(--main-color);
    background:var(--text-color);
    color: var(--bg-color);
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
     
}


.about {
    display: flex;
    flex-direction: column;
  }
  
  @media (min-width:1000px) {
    .about {
      flex-direction: row;
      justify-content: center;
    }
  }



.about-img{
    text-align: center;
    display: block;
    background-color:  rgb(24, 20, 28);
    border: rem solid rgb(24, 20, 28);
    border-radius: 5%;
     
}
.about-img h3{
    font-size: 20px;
}
.about-img img{
    border: 1rem solid rgb(24, 20, 28);
    border-radius: 5%;
    

}
.alphaaa:hover{
    color: #fff;

}
.about-img :hover{
    transform: translateY(-20px);
    filter: grayscale(50%);
}
.heading{
    text-align: center;
    font-size: 4.5rem;
}
.about-content h2{
    text-align: left;
    line-height: 1.2;
}
.about-content h3{
    font-size: 2.6rem;
    margin: 2rem 1rem 3rem;
    color:rgb(78, 76, 76);
    font-weight: bold;


}
.about-content h3:hover{
    transform: translateY(-20px);
    color: #cfcfcf;
    
    
}
.about-content p{
    font-size: 1.6rem;
    text-align: left;
     
}
.about-content span{
    color: var(--main-color);
}
.services h2{
    margin-bottom: 5rem;
    font-size: 4rem;
   
}
.trainingabc{
    transform: translateY(-60px);
}
.services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

}
.services-container .services-box{
    flex: 1 1 30rem;
    background: var(--second-color);
    padding-right: 0% 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid white;
    transition: 0.5s ease;

}
.services-container .services-box:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
}

    

.services-box a i{
    font-size:2rem ;
    color: #000000;
}
.services-box img{
    height: 110px;
    width: 180px;
    border-radius: 60%;
    border-color: #000000;
    margin-top: 1px;
    transform: translateY(-50px);

}
.services-box h3{
    font-size: 2.6rem;
    color:var(--bg-color);
}
.services-box p{
    font-size: 1.6rem;
    margin: 1rem 0 1rem;
}
.services span{
    color: var(--main-color);
}
#certificate{
     transform: translateY(-30px);
}


 
.project h2{
    margin-bottom: 4rem;
}

.project-layer{
    text-align: center;
    font-size: 1rem;
    top: 0%;
}
.project h3{
    margin-bottom: 1rem;
    font-size: 3rem;
}
.project-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    

}
.project-container .project-box{
    flex: 1 1 30rem;
    background: var(--second-color);
    padding-right: 0% 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: 0.2px solid gold;
    transition: 0.5s ease;

}
.project-container .project-box:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
    box-shadow: 0 0 1rem var(--main-color);
    background: linear-gradient(rgba(3, 0, 0, 0.1),blueviolet);
    
     
}
.project-box i{
    font-size: 2rem;
    color: var(--main-color);
}
.project-box h3{
    font-size: 2rem;
    color: var(--main-color);
}
.project-box p{
    font-size: 1.5rem;
    margin: 1rem 0 3rem;
}
.project-box img{
    border-radius: 5%;
    margin-top: 5px;
    height:300px ;
    width: 500px;
}
.project-box img:hover{
    transform: translateY(-25px);
    border: 2px dotted var(--main-color);
}
.project span{
    color: var(--main-color);
}
.project-layer i:hover{
    color: #000000;

}

.education{
  margin-top: 50px ;
}

.contact{
    
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* background-color: var(--bg-color); */
    
    
}
.contact h2{
    margin-bottom: 3rem;
}
 
form{
    max-width: 170rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
    color:  ;
    margin-left: 0%;
}
 form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #000;
    background-color: transparent;
}
   input,
  form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color:  rgb(0, 0, 0) ;
    background:rgb(89, 93, 117);
    -webkit-background-filter:blur(20px);
    border-radius: .8rem;
    margin: .7rem 0;
}
 span{
    background: -webkit-linear-gradient(yellow,red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
 form input{
    width: 49%;
}
 form textarea{
    resize: none;
}
 form .btn{
    margin-top:2rem;
    cursor: pointer;
}
/*CONTACT US SECTION*/
.contact form {
	width: 100%;
	margin: 0px auto;
}
.contact {
    display: flex;
    flex-direction: column;
  }
  
  @media (max-width: 768px)
.contact {
    display: none;
}
.contact input,
textarea {
	width: 100%;
	float: left;
	margin-bottom: 20px;
	height: 40px;
	padding: 10px;
	border: 1px solid #a1a1a1;
    color: #000;
}
.contact textarea {
	height: 80px;
    color: #000;
}
.contact-details{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
     

}
.ptr{
     
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    width: ;
     
    

}
 

.ptr h2 {
	font-size: 26px;
	text-align: center;
	margin-top: 60px;
	color: var(--main-color);
}
.width-33 h4 {
	font-size: 22px;
	text-align: center;
	margin-top: 10px;
}
    .width-33 p {
	text-align: center;
	font-size: 16px;
	margin-top: 5px;
    color: #656363;
    font-weight: bold;
}
 .footer-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
     text-align: center;
    height: 10px;
     border-bottom: 0px;
 }
 .footer-text i{
     color: #000000;
     border-radius: 50%;
    

 }
 .footer-text p{
    font-size: 1.6rem;
 }
 .footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: transparent;
    border-radius: .8rem;
 }
 .footer-text a i{
    font-size: 2.4rem;
     background-color: #1BFFFF;
    margin-left: 100%;
    float: left;
 }
 .footer{
    bottom: 0;
    
    width: 100%;
    height: 100%;
 }


/*education & experiences*/

  /* education section starts */
.education {
    background: transparent;
    min-height: 80vh;
  }
  .education .qoute {
    font-size: 1.5rem;
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    margin-top: 0.5rem;
  }
  .education .box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .education .box-container .box {
    display: flex;
    flex-direction: row;
    width: 80%;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    margin-top: 2rem;
    overflow: hidden;
    transition: 0.3s;
    background: rgb(252, 252, 252);
  }
  .education .box-container .box:hover {
    transform: scale(1.03);
    box-shadow: 1rem 0.5rem 1.2rem rgba(0, 0, 0, 0.3);
  }
  .education .box-container .box .image {
    flex: 1 1 20rem;
    width: 100%;
  }
  .education .box-container .box img {
    object-fit: cover;
    position: relative;
    width: 100%;
    height: 100%;
  }
  .education .box-container .box .content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex-wrap: wrap;
    flex: 1 1 70rem;
  }
  .education .box-container .box .content h3 {
    font-size: 2.5rem;
    color: #012970;
    padding: 0.5rem 0;
    font-weight: 600;
    text-align: left;
    margin-left: 1rem;
  }
  .education .box-container .box .content p {
    font-size: 1.5rem;
    margin-left: 1rem;
    text-align: left;
    color: #000;
  }
  .education h4 {
    font-size: 2rem;
    color: rgb(34, 109, 0);
    text-align: left;
    margin: 1rem;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
  }
  
  /* education media queries starts*/
  @media screen and (max-width: 600px) {
    .education .box-container .box {
      flex-direction: column;
      width: 100%;
    }
    .education .box-container .box .image {
      width: 100%;
      height: 25rem;
    }
    .education .box-container .box img {
      width: 100%;
    }
    .education .box-container .box .content {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 1rem;
      flex-wrap: wrap;
      flex: 0;
    }
    .education .btns {
      margin-top: 2rem;
      margin-left: 1rem;
      margin-right: 1rem;
      flex-wrap: wrap;
    }
  }
  /* education media queries ends*/
  /* education section ends */
  
  /* work section starts */
  .work {
    /* background: #010124; */
    background: linear-gradient(to bottom, #19c0af, #3232c6);
  }
  .work h2 {
    color: #fff;
    padding: 1rem;
  }
  .work .heading span {
    color: rgb(255, 230, 0);
  }
  .work .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 2rem;
  }
  .work .box-container .box {
    flex: 1 1 30rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    height: 30rem;
  }
  .work .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .work .box-container .box .content {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 85%;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
  }
  .work .box-container .box .content .tag {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4.5rem;
    width: 100%;
    padding-left: 1rem;
    background: #ffd900;
  }
  .work .box-container .box .content .tag h3 {
    font-size: 2rem;
  }
  .work .box-container .box:hover .content {
    top: 25%;
  }
  .work .desc {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .work .desc p {
    font-size: 1.5rem;
  }
  .work .desc .btns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
  }
  .work .desc .btns .btn {
    line-height: 0;
    display: inline;
    padding: 1.5rem 2.5rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    color: #fff;
    background: rgb(52, 176, 230);
    margin-right: 2rem;
  }
  .work .desc .btns .btn:hover {
    background: #310ae0f5;
  }
  .work .viewall {
    display: flex;
    justify-content: center;
  }
  .work .viewall .btn {
    position: relative;
    line-height: 0;
    padding: 1.6rem 3rem;
    border-radius: 0.5em;
    transition: 0.5s;
    color: rgb(255, 255, 255);
    font-weight: 700;
    border: 2px solid #fff;
    box-shadow: 0px 5px 10px rgba(65, 84, 241, 0.4);
    text-align: center;
  }
  .work .viewall .btn span {
    font-weight: 600;
    font-size: 1.7rem;
    font-family: "Nunito", sans-serif;
  }
  .work .viewall .btn i {
    margin-left: 0.3rem;
    font-size: 1.5rem;
    transition: 0.3s;
  }
  .work .viewall .btn:hover {
    background: #fff;
    color: #000;
  }
  .work .viewall .btn:hover i {
    transform: translateX(5px);
  }
  /* work section ends */
  
  
  /* view all button */
  .morebtn {
    display: flex;
    justify-content: center;
  }
  .morebtn .btn {
    position: relative;
    line-height: 0;
    padding: 1.6rem 3rem;
    border-radius: 0.5em;
    transition: 0.5s;
    color: #fff;
    background: #2506ad;
    box-shadow: 0px 5px 10px rgba(48, 68, 247, 0.6);
    text-align: center;
  }
  .morebtn .btn span {
    font-weight: 600;
    font-size: 1.7rem;
    font-family: "Nunito", sans-serif;
  }
  .morebtn .btn i {
    margin-left: 0.3rem;
    font-size: 1.5rem;
    transition: 0.3s;
  }
  .morebtn .btn:hover {
    background: #1a047e;
  }
  .morebtn .btn:hover i {
    transform: translateX(5px);
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
    .experience {
      min-height: 80vh;
    }
    .experience .timeline {
      margin-top: 2rem;
    }
    .experience .timeline::after {
      left: 31px;
    }
    .experience .container {
      width: 100%;
      padding-left: 8rem;
      padding-right: 2rem;
    }
    .experience .container::after {
      font-size: 2.2rem;
    }
    .experience .container::before {
      left: 61px;
      border: medium solid #f68c09;
      border-width: 10px 10px 10px 0;
      border-color: transparent #f68c09 transparent transparent;
    }
    .experience .left::after {
      left: 15px;
    }
    .experience .right::after {
      left: 15px;
    }
    .experience .right {
      left: 0%;
    }
    .morebtn {
      margin-top: 3rem;
    }
  }
  /* experience media queries ends */
  /* experience section ends */
  



/*skill*/
/*****TESTIMONIAL SECTION*****/
.skill-content {
	width: 32%;
	float: left;
	margin-right: 1%;
	margin-top: 50px;
	margin-bottom:60px;
    gap: 5.5rem;
}

.skill-content-content {
	
	color: #000000;
	width: 100%;
	float: left;
	padding: 25px 20px 20px 20px;
	font-size: 12px;
	line-height: 28px;
	position: relative;
	text-align: center;
    justify-content: center;
    top: 40px;
    border-radius: 2rem;
    font-weight: bold;
}

 

.skill-content-img {
	width: 100%;
	float: left;
	text-align: center;
	position: absolute;
	left: 0px;
	top: -60px;
}

.skill-content-img img {
	width: 80px;
	height: 80px;
	/* border: 3px solid rgb(0, 0, 0); */
	border-radius:30%;
}
.skill-content-img img:hover{
    transform: translateY(-5px);
}

.skill-content-name {
	width: 100%;
	
}

.skill-content-content h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:var(--text-color);
     
   
}
.skill-content-content h3:hover{

    background:  blueviolet;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.skill-content-name p {
	font-size: 16px;
}
.skill-sec{
    margin-bottom: 180px;
}


/*toggle switch*/
 

.toggle-container {
    text-align: center;
    margin: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:yellow;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: yellow;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color:white;
}

input:focus + .slider {
    box-shadow: 0 0 1px white;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Dark Theme */
.dark {
  
    background-image: url('blue\ sky\ bg.jpg');
    background-position: center;
    background-size: cover;
   
    
     
         
         
    
}

.dark .slider {
    background-color:  yellow;
}

.dark input:checked + .slider {
    background-color: #ff6600;
}

.dark input:checked + .slider:before {
    background-color: rgb(252, 252, 255);
}


 








 

 
